// css reset
@import "reset.scss";

body {
    width: 100%;
    height: 100%;
    background: #ebcb4b;
    text-align: center;
    input,
    button {
        border: none;
        height: 40px;
    }
    .isChecked {
        text-decoration: line-through;
    }
    .add_todos_wrapper {
        input {
            width: 500px;
            border-radius: 5px;
            text-align: center;
            color: #abc6de;
        }
        button {
            margin-left: 10px;
            border-radius: 20px;
            background: #abc6de;
            width: 70px;
            transition-duration: 0.4s;
        }
        button:hover {
            border-radius: 20px;
            background: #8db8da;
            transform: scale(1.1);
        }
    }

    .added_todos_wrapper {
        margin-top: 20px;
        text-align: left;
        display: inline-block;
        ul {
            .column {
                // width: 600px;
                margin: 15px 0;
                font-size: 20px;
                display: flex;
                list-style: none;
                input {
                    width: 20px;
                    height: 20px;
                    line-height: 100%;
                    color: black;
                }
                .check_box {
                }
                .text_todo_field {
                    width: 400px;
                }
            }
        }
    }
}
